* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(#333333, #000);
}

body {
  font-family: sans-serif;
}

.gallery {
  margin: 10px 50px;
  position: relative;
  transform-style: preserve-3d;
  width: 200px;
  height: 300px;
  animation: gallery 50s linear infinite;
}

span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform-origin: center;
  transform: rotateY(calc(var(--i) * 45deg)) translateZ(380px);
  -webkit-box-reflect: below 0px linear-gradient( transparent, #0005);
}

img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

@keyframes gallery {
  0% {
    transform: perspective(800px) rotateY(0deg);
  }
  100% {
    transform: perspective(800px) rotateY(360deg);
  }
}

.title {
  position: relative;
  font-size: 50px;
  color: #fff;
  width: 100%;
  text-align: center;
  bottom: -100px;
}

.originallink {
  position: absolute;
  right: 0;
  background: white;
  border-radius: 15px;
  border: none;
  color: #2b99ff;
  font-family: inherit;
  font-size: 25px;
  cursor: pointer;
  padding: 0 10px;
}

.link {
  position: relative;
  right: 0;
  background: none;
  border: none;
  text-decoration: none;
  color: #2b99ff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0 1rem;
}

.link:hover {
  color: black;
}

.dropdown.active > .originallink,
.originallink:hover {
  color: rgb(0, 0, 0);
} 

.dropdown {
  position: relative;
  right: 30px;
  top: 10px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 55;
}

.dropdown.active > .originallink + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  gap: 2rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* .gallery img {
  width: 230px;
  padding: 5px;
  filter: grayscale(100%);
  transition: 1s;
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
} */