* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background: linear-gradient(#333333, #000);
}

.originallink {
  position: absolute;
  right: 0;
  background: white;
  border-radius: 15px;
  border: none;
  color: #2b99ff;
  font-family: inherit;
  font-size: 25px;
  cursor: pointer;
  padding: 0 10px;
}

.link {
  position: relative;
  right: 0;
  background: none;
  border: none;
  text-decoration: none;
  color: #2b99ff;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0 1rem;
}

.link:hover {
  color: black;
}

.dropdown.active > .originallink,
.originallink:hover {
  color: rgb(0, 0, 0);
} 

.dropdown {
  position: relative;
  right: 30px;
  top: 10px;
}

.dropdown-menu {
  position: absolute;
  right: 0;
  top: calc(100% + 0.25rem);
  background-color: white;
  padding: 0.75rem;
  border-radius: 0.25rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  z-index: 55;
}

.dropdown.active > .originallink + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.information-grid {
  display: grid;
  grid-template-columns: repeat(1, max-content);
  gap: 2rem;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.row {
  margin: 15px;
}

.title {
  position: relative;
  font-size: 50px;
  color: #fff;
  width: 100%;
  text-align: center;
}

.videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

iframe {
  padding: 1rem;
}